<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta name="title" content="Tovix | Sign Up">
<meta name="language" content="English">
<title><%= title %></title>
<link rel="stylesheet" href="/signup.css">
</head>
<body>
<div id="signup-box-p1">
<h1>Welcome to Tovix</h1>
<p>To get started, please fill in the details below to create your account.</p>
<div class="box1-divider">
</div>
</div>
</body>
</html>
